In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
features = pd.DataFrame(columns=['age', 'height', 'weight'])
features['age'] = [25, 32, 47, 51, 62]
features['height'] = [182, 176, 174, 168, 181]
features['weight'] = [75, 71, 78, 72, 86]
target = pd.Series([20, 32, 45, 55, 61])

In [6]:
features['shadow_age'] = features['age'].sample(frac=1).values

In [7]:
features

   age  height  weight  shadow_age
0   25     182      75          47
1   32     176      71          51
2   47     174      78          32
3   51     168      72          62
4   62     181      86          25